@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

.intro {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0f0a0a;
}

.intro_header {
  position: absolute;
  top: 40%;
  font-size: 84px;
  color: #da2525;
  text-transform: uppercase;
}

.intro_key {
  position: absolute;
  bottom: 20px;
  font-size: 22px;
  color: #da2525;
  animation: blinker 1s linear infinite;
}

.nickname{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: #0f0a0a;
}

.form_nickname{
  position: absolute;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-weight: 700;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 45%;
  top: 40%;
  font-size: 34px;
  color: #da2525;
} 

.nickname_input {
  font-family: 'ZCOOL KuaiLe', cursive;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  width: 200px;
  height: 20px;
  margin-top: 20px;
  border: 0px solid;
  border-radius: 4px;
  color: #da2525;
  font-weight: 800;
  font-size: 26px;
  background-color: #0f0a0a;
}

.nickname_button{
  margin-top: 25px;
  color: #130b0b;
  font-weight: 800;
  font-size: 22px;
  font-family: 'ZCOOL KuaiLe', cursive;
  border: 1px solid #da2525;
  border-radius: 20%;
  height: 30px;
  width: 50px;
  text-transform: uppercase;
  outline: none;
  background-color: #da2525;
}

::placeholder {
  color: #da2525;
}

.nickname_input:focus::placeholder{
  color: transparent;
}

.nickname_button:focus{
  background-color: #bb1f1f;
}

.menu{
  position: absolute;
  font-family: 'ZCOOL KuaiLe', cursive;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  top: 0;
  left: 0;
  background-color: #0f0a0a;
}

.menu_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 35%;
  font-size: 36px;
  color: #da2525;
  text-transform: uppercase;
  list-style: none;
}

.menu_list li{
  padding: 10px 0;
}

.menu_list li:hover{
  cursor: pointer;
  color: #bb1f1f;
}

.menu_player_name{
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: #bb1f1f;
}

.battle_player_name{
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: #bb1f1f;
}

.battle_canvas{
  width: 100%;
  height: 100%;
  border: 1px solid white;
}


@keyframes blinker{
  80%{
    opacity: 0.5;
  }
}