@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Kranky');
@import url('https://fonts.googleapis.com/css?family=Staatliches');

html, body {
  margin: 0;
}

li, a{
  text-decoration: none;
}

.intro {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0f0a0a;
}

.intro_header {
  position: absolute;
  top: 15%;
  font-size: 27vh;
  font-weight: 800;
  color: #da2525;
  text-transform: uppercase;
  font-family: 'Kranky', cursive;
  /* font-family: 'Staatliches', cursive; */
  /* font-family: 'Nosifer', cursive; */
  /* font-family: 'Eater', cursive;
  font-family: 'ZCOOL KuaiLe', cursive; */
}

.intro_key {
  position: absolute;
  bottom: 20px;
  font-size: 22px;
  color: #da2525;
  animation: blinker 1s linear infinite;
}

.nickname{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: #0f0a0a;
}

.form_nickname{
  position: absolute;
  font-family: 'Kranky', cursive;
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-weight: 700;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* margin: 0 45%; */
  top: 40%;
  font-size: 34px;
  color: #da2525;
} 

.nickname_input {
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  width: 250px;
  height: 20px;
  margin-top: 20px;
  border: 0px solid;
  border-radius: 4px;
  color: #da2525;
  font-weight: 800;
  font-size: 26px;
  background-color: #0f0a0a;
}

.nickname_button{
  margin-top: 25px;
  color: #130b0b;
  font-weight: 800;
  font-size: 22px;
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  border: 1px solid #da2525;
  border-radius: 20%;
  height: 30px;
  width: 50px;
  text-transform: uppercase;
  outline: none;
  background-color: #da2525;
}

.nickname_input::placeholder {
  color: #da2525;
}

.nickname_input:focus::placeholder{
  color: transparent;
}

.nickname_button:focus{
  background-color: #bb1f1f;
}

.menu{
  position: absolute;
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  top: 0;
  left: 0;
  background-color: #0f0a0a;
}

.menu_middle{
  width: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 30vh;
  font-size: 4vh;
  color: #da2525;
  text-transform: uppercase;
  list-style: none;
}

.menu_item, .menu_item a{
  color: #da2525;
}

.menu_btn{
  display: block;
}

.menu_item{
  padding: 7px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.menu_item:hover{
  color: #bb1f1f;
}

.menu_item a:hover{
  color: #bb1f1f;
}

.menu_small{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: max-height 1s;
  max-height: 0;
}

.menu_small a{
  padding: 1px 2vh;
  display: block;
  margin: 2px 0;
  position: relative;
  transition: 0.3s;
  opacity: 0.3;
}

.menu_small a:hover{
  opacity: 1;
}

.menu_player_name{
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  font-size: 3vh;
  font-weight: 800;
  text-transform: uppercase;
  color: #bb1f1f;
}

.mode_list{
  display: none;
  position: absolute;
  height: 0px;
  list-style-type: none;
  font-size: 24px;
}

.player_name, .enemy_name{
  position: absolute;
  display: inline-block;
  top: 10px;
  font-size: 18px;
  font-weight: 800;
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  text-transform: uppercase;
  color: #d1f023;
}

.enemy_name{
  right: 10px;
}

.player_name{
  left: 10px;
}

.player_health_bar, .enemy_health_bar{
  position: absolute;
  display: inline-block;
  height: 12px;
  width: 250px;
  top: 35px;
  border: 2px #06070a solid;
  border-radius: 4px;
}

.enemy_health_bar{
  right: 10px;
  background: linear-gradient(to left, 
      red   100%,
      transparent  0%
  );
}

.player_health_bar{
  left: 10px;
  background: linear-gradient(to right, 
      red   100%,
      black    0%
  );
}

.battle_canvas{
  display: block;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: transparent;
}

.square{
  position: absolute;
  width: 30vh;
  height: 30vh;
  top: -40vh;
  left: 8%;

  /* position: absolute;
  top: -27vh;
  left: 10%;
  background-color: #e25cd0;
  height: 27vh;
  width: 26vh;
  box-shadow: -5px -5px 10px #321d35; */

}


.square_side_1{
  width:102%;
  height: 99%;
  background:#dd59cb;
  border:solid 2px #dd59cb;
  float:left;
  position: absolute;
}

.square_side_2{
  width:3%;
  height:99%;
  background:#be47af;
  border:solid 2px #be47af;
  transform: translate(31vh, -3%) skew(180deg,133deg);
  position: absolute;
}

.square_side_3{
  width:102%;
  height:1vh;
  background:#be47af;
  border:solid 2px #be47af;
  float:left;
  transform: rotate(0deg) translate(2%, -100%) skew(138deg, 0deg);
  position: absolute;
}

.square_rage{
  position: absolute;
  /* width: 9vh;
  height: 5vh; */
  top: 69vh;
  right: 44vh;
  opacity: 0;
}

.skittle{
  position: absolute;
  width: 17vh;
  height: 15vh;
  top: 48vh;
  left: 35vh;
}

.start_btn{
  position: fixed;
  /* display: flex;
  justify-content: center;
  text-align: center; */ 
  top: 10%;
  /* left: 47%; */
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 32px;
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  color: #d1f023;
  animation-duration: 1s;
  animation-name: start_game;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.start_btn:hover{
  cursor: pointer;
}

.task_menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 30%;
  color: transparent;
}

.task_menu button{
  min-width: 120px;
  background-color: #0e0808;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 1.2em;
  color: #d1f023;
  border: 2px solid #0e0808;
  padding: 10px 5px;
  margin: 10px 5px;
  outline: none;
}

.task_menu button:hover{
  border: 2px solid #36c423;
}

.math_form, .eng_form, .capitals_form{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Kranky', cursive;
  /* width: 25vh; */
  height: 20vh;
  min-width: 100px;
  min-height: 100px;
  font-size: 2.5vh;
  /*
  top: 30%;
  margin: auto; */
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  border-radius: 8px;
  
  /* box-shadow: 0 0 10px rgba(94, 238, 27, 0.541); */
  background-color: #130b0b;
}

.math_form {
  box-shadow: 0 0 10px rgba(238, 224, 27, 0.541);
}

.eng_form {
  box-shadow: 0 0 10px rgba(236, 128, 27, 0.541);
}

.capitals_form {
  box-shadow: 0 0 10px rgba(231, 27, 238, 0.541);
}

.math_solve, .eng_solve, .capitals_solve {
  width: 70%;
  margin: 8% 0;
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  text-align: center;
  
  outline: none;
  background-color: transparent;
  color: #d6da20;
  /* color: #36c423; */
  font-weight: 800;
  font-size: 2.5vh;
  border: none;
}

.math_solve{
  text-transform: uppercase;
}

.eng_solve {
  text-transform: lowercase;
}


.math_solve::placeholder{
  font-family: 'Kranky', cursive;
  /* color: #36c423; */
  color: #d6da20;
}

.eng_solve::placeholder{
  font-family: 'Kranky', cursive;
  /* color: #36c423; */
  color: #d6da20;
}

.capitals_solve::placeholder{
  font-family: 'Kranky', cursive;
  /* color: #36c423; */
  color: #d6da20;
}

.math_solve:focus::placeholder{
  color: transparent;
}

.eng_solve:focus::placeholder{
  color: transparent;
}

.capitals_solve:focus::placeholder{
  color: transparent;
}


.math_submit, .eng_submit, .capitals_submit{
  font-size: 20px;
  text-transform: uppercase;
  background-color: #130b0b;
  height: 15%;
  font-family: 'ZCOOL KuaiLe', cursive;
  /* color: #36c423; */
  color: #d6da20;
  border: none;
  outline: none;
}


.math_task, .eng_task, .capitals_task{
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  /* color: #36c423; */
  color: #d6da20;
  font-size: 1.2em;
}


.math_submit:hover{
  text-shadow: 3px 3px 4px black, 0 0 2em #d1f023;
  /* box-shadow: 0 0 10px rgba(236, 222, 20, 0.541); */
} 

.eng_submit:hover{
  text-shadow: 3px 3px 4px black, 0 0 2em #3cf723;
  /* box-shadow: 0 0 10px rgba(236, 222, 20, 0.541); */
} 

.capitals_submit:hover{
  text-shadow: 3px 3px 4px black, 0 0 2em #f023e6;
  /* box-shadow: 0 0 10px rgba(236, 222, 20, 0.541); */
} 

.score{
  display:flex;
  justify-content: end;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 50px;
  min-width:100px;
  min-height:50px;
  color: #d6da20;
  font-size: 20px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.wasted{
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  /* padding-top: 15vh; */
  /* padding-top: 10%; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 20vh;
  color: #ee3150;
  background-color: #352833;
  font-family: 'Bungee Inline', cursive;
  opacity: 0;
}

.wasted span{
 position: absolute;
 top: 10vh;
}

.wasted_score {
  position: absolute;
  top: 50vh;
  width: 100vw;
  height: 20vh;
  color: #ee3150;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 5vh;
  text-align: center;
  opacity: 0;
}

.continue{
  position: absolute;
  text-align: center;
  color: #ee3150;
  font-size: 3vh;
  bottom: 3vh;
  width: 100vw;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.win_msg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 0;
}

.win_msg .text{
  color: #36c423;
  opacity: 1;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 15vh;
}


.score_page{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0f0a0a;
  color: #bb1f1f;
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  font-size: 5vh;
  text-align: center;
  opacity: 0;
}

.help_page{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #0f0a0a;
  color: #bb1f1f;
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: 'Kranky', cursive;
  font-size: 5vh;
  text-align: center;
  opacity: 0;
}

.help_page p{
  width: 40vw;
  padding: 5% auto;
  font-size: 5vh;
}

.score_page h2{
  position: absolute;
  top: 3vh;
  width: inherit;
  font-size: 10vh;
  color: inherit;
}


@keyframes start_game {
  from { text-shadow: 0 0 0px rgb(72, 245, 29); }
  to { text-shadow: 0 0 20px rgb(72, 245, 29); }
}

@keyframes blinker{
  80%{
    opacity: 0.5;
  }
}